.content {
  background-color: #fff;
  padding: 0.5rem 1rem;
}
.content .content-header {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.content li {
  height: 8rem;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}
.content li img {
  width: 40%;
  height: 6rem;
  padding: 0 0.5rem;
  float: left;
}
.content li .info {
  padding-left: 1rem;
  width: 60%;
  float: right;
}
.content li .info p:nth-child(1) {
  font-size: 1.3rem;
  color: #333;
}
.content li .info p:nth-child(2) {
  padding-top: 0.5rem;
}
.content li .info p:nth-child(3) {
  position: absolute;
  bottom: 1rem;
}
.content li .info p:nth-child(4) {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
